<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>购物车</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="" rel="stylesheet">
<link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="../content/css/reset.css"/>
<link rel="stylesheet" href="../content/css/main.css"/>
</head>
</head>
<body>
  <div class="cart_head">
  	 <div class="wrap">
  	  	 <div class="imgbox">
  	   	   <img src="../content/img/logo_vp.jpg">
  	     </div>  	
  	     <span class="title">
  	     	购物车
  	     </span>    
  	  </div>
  </div>
<div class="wrap" id="cart">
  	 <div class="cartWrap">
  	 	<div class="head clear">
  	 		<div class="td1">
  	 		     <input type="checkbox" name="checkAll" class="hide">
                  <img src="../content/img/check.jpg" class="icon check" onclick="checkAll()">
	  	 		  <img src="../content/img/checked.png" class="icon checked hide" onclick="nocheckAll()">
	  	 		  全选
  	 		</div>
  	 		<div class="td2">商品</div>
  	 		<div class="td3">规格</div>
  	 		<div class="td4">单价</div>
  	 		<div class="td5">数量</div>
  	 		<div class="td6">小计</div>
  	 	    <div class="td7">操作</div>
  	 	</div>
  	 	<div class="body">
  	 		<ul class="listUl">
  	 			<li class="soreItem">
			  	 	    <div class="soreName">
			                <span class="soreNameCheckbox">
			                    <input type="checkbox" name="s1" class="hide">
			                    <img src="../content/img/check.jpg" class="icon check" onclick="checkStore(this)">
				  	 		    <img src="../content/img/checked.png" class="icon checked hide" onclick="NcheckStore(this)">
			                </span>
			                商店名字1
			           </div>
				        <ul class="itembox">
							               <li class="clear">
							                   <div class="td1" >
							                      <input type="checkbox" class="hide" name="item">
							                      <img src="../content/img/check.jpg" class="icon check" onclick="checkItem(this)">
	  	 		                                  <img src="../content/img/checked.png" class="icon checked hide" onclick="NcheckItem(this)">
							                   </div>
							                   <div class="td2" >
							                      <img data-original="http://img.lizi.com/lizi/user/559b9ed1e4b048b6023c18c7/d19a764d0b5.jpg" class="lazy">
							                   </div>
							                   <div class="td3">
							                      法国Eau Precieuse珍贵水袪痘爽肤水375ml 控油祛痘
							                   </div>
							                   <div class="td4" >
							                      规格：375ml
							                   </div>
							                   <div class="td5" >
							                      ¥ <span>99.00</span>
							                   </div>
							                   <div class="td6">
							                      <div class="numbox clear">
							                                       <span class="sub">-</span>
							                                       <span class="num">1</span>
							                                       <span class="add">+</span>
							                      </div>
							                   </div>
							                   <div class="td7 red">
							                       ¥ <span>99.00</span>
							                   </div>
							                   <div class="td8">
							                       <span class="delet">删除</span>
							                   </div>
							               </li>
							               <li class="clear">
							                   <div class="td1" >
							                      <input type="checkbox" class="hide" name="item">
							                      <img src="../content/img/check.jpg" class="icon check" onclick="checkItem(this)">
	  	 		                                  <img src="../content/img/checked.png" class="icon checked hide" onclick="NcheckItem(this)">
							                   </div>
							                   <div class="td2" >
							                      <img data-original="http://img.lizi.com/lizi/user/559b9ed1e4b048b6023c18c7/d19a764d0b5.jpg" class="lazy">
							                   </div>
							                   <div class="td3">
							                      法国Eau Precieuse珍贵水袪痘爽肤水375ml 控油祛痘
							                   </div>
							                   <div class="td4" >
							                      规格：375ml
							                   </div>
							                   <div class="td5" >
							                      ¥ <span>99.00</span>
							                   </div>
							                   <div class="td6">
							                      <div class="numbox clear">
							                                       <span class="sub">-</span>
							                                       <span class="num">1</span>
							                                       <span class="add">+</span>
							                      </div>
							                   </div>
							                   <div class="td7 red">
							                       ¥ <span>99.00</span>
							                   </div>
							                   <div class="td8">
							                       <span class="delet">删除</span>
							                   </div>
							               </li>
							                  
							              
					     </ul>
  	 	   </li>
  	 	   <li class="soreItem">
			  	 	    <div class="soreName">
			                <span class="soreNameCheckbox">
			                    <input type="checkbox" name="s1" class="hide">
			                    <img src="../content/img/check.jpg" class="icon check" onclick="checkStore(this)">
				  	 		    <img src="../content/img/checked.png" class="icon checked hide" onclick="NcheckStore(this)">
			                </span>
			                商店名字1
			           </div>
				        <ul class="itembox">
							               <li class="clear">
							                   <div class="td1" >
							                      <input type="checkbox" class="hide" name="item">
							                      <img src="../content/img/check.jpg" class="icon check" onclick="checkItem(this)">
	  	 		                                  <img src="../content/img/checked.png" class="icon checked hide" onclick="NcheckItem(this)">
							                   </div>
							                   <div class="td2" >
							                      <img data-original="http://img.lizi.com/lizi/user/559b9ed1e4b048b6023c18c7/d19a764d0b5.jpg" class="lazy">
							                   </div>
							                   <div class="td3">
							                      法国Eau Precieuse珍贵水袪痘爽肤水375ml 控油祛痘
							                   </div>
							                   <div class="td4" >
							                      规格：375ml
							                   </div>
							                   <div class="td5" >
							                      ¥ <span>99.00</span>
							                   </div>
							                   <div class="td6">
							                      <div class="numbox clear">
							                                       <span class="sub">-</span>
							                                       <span class="num">1</span>
							                                       <span class="add">+</span>
							                      </div>
							                   </div>
							                   <div class="td7 red">
							                       ¥ <span>99.00</span>
							                   </div>
							                   <div class="td8">
							                       <span class="delet">删除</span>
							                   </div>
							               </li>
							               <li class="clear">
							                   <div class="td1" >
							                      <input type="checkbox" class="hide" name="item">
							                      <img src="../content/img/check.jpg" class="icon check" onclick="checkItem(this)">
	  	 		                                  <img src="../content/img/checked.png" class="icon checked hide" onclick="NcheckItem(this)">
							                   </div>
							                   <div class="td2" >
							                      <img data-original="http://img.lizi.com/lizi/user/559b9ed1e4b048b6023c18c7/d19a764d0b5.jpg" class="lazy">
							                   </div>
							                   <div class="td3">
							                      法国Eau Precieuse珍贵水袪痘爽肤水375ml 控油祛痘
							                   </div>
							                   <div class="td4" >
							                      规格：375ml
							                   </div>
							                   <div class="td5" >
							                      ¥ <span>99.00</span>
							                   </div>
							                   <div class="td6">
							                      <div class="numbox clear">
							                                       <span class="sub">-</span>
							                                       <span class="num">1</span>
							                                       <span class="add">+</span>
							                      </div>
							                   </div>
							                   <div class="td7 red">
							                       ¥ <span>99.00</span>
							                   </div>
							                   <div class="td8">
							                       <span class="delet">删除</span>
							                   </div>
							               </li>
							                  
							              
					     </ul>
  	 	   </li>
  	   </ul>
  	 </div>
  </div>
  	 <div class="foot clear">
  	 		<div class="fl checkbox">
	  	 		<input type="checkbox" name="checkAll" class="hide" > 
	  	 		<img src="../content/img/check.jpg" class="icon check" onclick="checkAll()">
	  	 		<img src="../content/img/checked.png" class="icon checked hide" onclick="nocheckAll()">
  	 		     全选
  	 		</div>
  	 		<div class="fl detelbox" id="Pdelet">删除</div>
  	 		<div class="fr account no">结账</div>
  	 		<div class="fr totle red">合计：¥<span id="totalBox">0.00</span></div>
  	 </div>	
 </div>
 <div class="bottom" style="height:550px; background-color: pink">
 	
 </div>







 <script src="../script/jquery-1.8.3.min.js"></script>
 <script src="../script/jquery.lazyload.js"></script>
 <script src="../script/extend.js"></script>
</body>
<script type="text/javascript">
// 多选
var headcheck =  $(".head").find("img.check").get(0);
var headcheckN =  $(".head").find("img.checked").get(0);
var footcheck =  $(".foot").find("img.check").get(0);
var footcheckN =  $(".foot").find("img.checked").get(0);
    function check (jsobj) {
    	  $(jsobj).hide();
		  $(jsobj).siblings('img').show();
		  $(jsobj).siblings('input').get(0).checked = true;
	
      }

   function NoCheck (jsobj) {
    	  $(jsobj).hide();
		  $(jsobj).siblings('img').show();
		  $(jsobj).siblings('input').get(0).checked = false;
	
      }

     function checkItem (jsobj){
     	check (jsobj);
        var length =  $(jsobj).parents("ul.itembox").find("input:checked").length;
        var liLength = $(jsobj).parents("ul.itembox").find("li").length;
        if(length == liLength){
         var ele = $(jsobj).parents("li.soreItem").find(".soreName").find("img.check").get(0);
         check (ele);
        }
         var storelength =  $(jsobj).parents("ul.listUl").find(".soreName").find("input:checked").length;
         var storelilenght =  $(jsobj).parents("ul.listUl").find(".soreItem").length;
        if(storelength == storelilenght){
        	check (headcheck);
        	check(footcheck);
        	check (jsobj);

        }
        totalPrice();
        $(".account").removeClass("no").addClass("yes");
     }
  
     function NcheckItem (jsobj){
         NoCheck (jsobj);
         var ele = $(jsobj).parents("li.soreItem").find(".soreName").find("img.checked").get(0);
         NoCheck (ele);
         NoCheck (headcheckN);
         NoCheck (footcheckN);
         totalPrice();
         if ($("input:checked").length == 0) {
         	  $(".account").removeClass("yes").addClass("no");
         };

      }
     
  function  checkStore (jsobj) {
      check(jsobj);
      $(jsobj).parents("li").find("img.check").each(function(index,ele){
          check(ele);
      })
      var storelength =  $(jsobj).parents("ul.listUl").find(".soreNameCheckbox").find("input:checked").length;
      var storelilenght =  $(jsobj).parents("ul.listUl").find(".soreItem").length;
       if(storelength == storelilenght){
        	check (headcheck);
        	check(footcheck);
        }
       totalPrice();
     $(".account").removeClass("no").addClass("yes");   
   }

   function NcheckStore (jsobj) {
      NoCheck (jsobj);
       $(jsobj).parents("li").find("img.checked").each(function(index,ele){
          NoCheck (ele);
      })
      NoCheck (headcheckN);
      NoCheck (footcheckN);  
       if ($("input:checked").length == 0) {
         	$(".account").removeClass("yes").addClass("no");
       };
       totalPrice();
  }

  function checkAll (jsobj) {
  	   $("img.check").each(function(index,ele){
          check(ele);
      })
  	  $(".account").removeClass("no").addClass("yes"); 
  	  totalPrice();
  }
 
  function nocheckAll () {
  	 $("img.checked").each(function(index,ele){
          NoCheck (ele)
      })
  	 $(".account").removeClass("yes").addClass("no");
  	 totalPrice();
  }
 	 
 $(function(){
 	// 修复IE默认选择bug
 	$("input").attr("checked", false);

 	// 修复IE默认结算
   $(".account").click(function(){
   	  if($(this).hasClass('yes')){
   	  	window.location.href='checkout.html';
   	  }
   })
 })
// 多选结束
  
// 删除

$(".delet").click(function(){
	      var _this = this;
	      var Alert = simpleAlert({
                    "content":"是否确定删除此项!",
                     "buttons":{
                        "确定":function () {
                        	var strom = $(_this).parents(".soreItem");
                            var li = $(_this).parent().parent().parent().children("li");
                            $(_this).parent().parent().remove();
                            if(li.length == 1){
                            	strom.remove();
                            }
                            totalPrice();
                            Alert.close();
                            postion ();
                        },
                        "取消":function(){
                            Alert.close();
                        }
                    }
           })
      });


 function totalPrice(){
 	var prices = 0;
 	var length = $(".itembox").find("input:checked").length;
 	if(length != 0){
       		$(".itembox").find("input:checked").each(function(i,ele){
      		var price = parseInt($(ele).parent().siblings('.td7').find("span").text().replace(".",""));
            prices += price;
   		});
 	}else {
 		$(".account").removeClass("yes").addClass("no");
 	}
 	var tot = prices/100;
   $("#totalBox").text(tot.toFixed(2));
 }


$(".numbox").find(".add").click(function(){
	var num = parseInt($(this).siblings('.num').text());
	num++;
	$(this).siblings('.num').text(num);
    var pic = parseInt($(this).parent().parent().siblings('.td5').find("span").text().replace(".",""))
    var tot = pic*num/100;
    $(this).parent().parent().siblings('.td7').find("span").text(tot.toFixed(2));
    var input = $(this).parent().parent().siblings('.td1').find("input").get(0);
    if(input.checked) {
        totalPrice();
    };
})

$(".numbox").find(".sub").click(function(){
    var num = parseInt($(this).siblings('.num').text());
    if(num == 1){
    	return;
    }
	num--
	$(this).siblings('.num').text(num);
	var pic = parseInt($(this).parent().parent().siblings('.td5').find("span").text().replace(".",""))
    var tot = pic*num/100;
    $(this).parent().parent().siblings('.td7').find("span").text(tot.toFixed(2));
    var input = $(this).parent().parent().siblings('.td1').find("input").get(0);
    if(input.checked) {
        totalPrice();
    };
})


$("#Pdelet").click(function(){
	var length = $("ul.itembox").find("input:checked").length;
	if(length == 0){
	    var a = simpleAlert({
                    "content":"未选定任何项！",
                     "buttons":{
                        "确定":function () {
                            a.close();
                           }
                    }
           });
      return;
	}else {
		var c = simpleAlert({
                    "content":"是否确定批量删除此"+length+"项!",
                     "buttons":{
                        "确定":function () {
                        	$(".soreName").find("input:checked").parents(".soreItem").remove();
                        	$(".itembox").find("input:checked").parent().parent().remove();
                            totalPrice();
                            postion ();
                            c.close();
                           },
                        "取消":function(){
                            c.close();
                        }
                    }
           });
	}
});


function postion (){
	console.log("postion");
	var bodyHeight = document.documentElement.clientHeight;
	 var footTop = $(".foot").offset().top+51;
	 console.log("footTop"+footTop);
	 console.log("bodyHeight"+bodyHeight);
	 if(footTop > bodyHeight) {
	 	  $(".foot").addClass("fixed");
	 	  $(".cartWrap").addClass("margin");
	 	  $(window).scroll(function(){
	 	  	 var scrollTop = $(this).scrollTop()+bodyHeight;
             if(scrollTop > footTop ){
                $(".foot").removeClass("fixed");
	 	        $(".cartWrap").removeClass("margin");
            }else {
            	$(".foot").addClass("fixed");
	 	        $(".cartWrap").addClass("margin");
            }
	 	  }); 
	 }
}

$(function(){
    postion ();
})
</script>
</html>