<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>checkout</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="" rel="stylesheet">
<link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="../content/css/reset.css"/>
<link rel="stylesheet" href="../content/css/main.css"/>
</head>
<body>
   <div class="cart_head">
  	 <div class="wrap">
  	  	 <div class="imgbox">
  	   	   <img src="../content/img/logo_vp.jpg">
  	     </div>  	
  	     <span class="title">
  	     	确认订单
  	     </span>    
  	  </div>
  </div>
  <div class="check_body">
         <div class="addressBox">
              <h4>选择收货地址</h4> 
              <a href="" class="goAddress">管理收货地址</a>
              <ul class="clear">
                <li>
                  <h3>吴帆</h3>
                  <p>武汉市江汉区 江汉北路108号 2-2-2</p>
                </li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
         </div>
         <div class="checkBox">
             <h4 style="padding-top:0px;">确认商品信息</h4> 
             <ul class="clear ul">
               <li class="td1">商品</li>
               <li class="td2">商品信息</li>   
               <li class="td3">单价</li>
               <li class="td4">数量</li>
               <li class="td5">小计</li>
            </ul>
            <ul>
               <li>
                  <div class="soreName">
                     <div>店铺：<span>丽子自营</span></div>
                 </div>
                 <ul class="itemBox">
                   <li class="clear">
                     <div class="td1">
                       <img src="http://img.lizi.com/lizi/store/554b07acf31ef04978652554/1797c947a4227.jpg!wh70">
                       <span>12313123123</span>
                     </div>
                     <div class="td2">
                        规格：一盒
                     </div>
                     <div class="td3">
                        ￥119.00
                     </div>
                     <div class="td4">
                         1
                     </div>
                     <div class="td5 red">
                         ￥119.00
                     </div>
                   </li>
                   <li class="clear">
                     <div class="td1">
                       <img src="http://img.lizi.com/lizi/store/554b07acf31ef04978652554/1797c947a4227.jpg!wh70">
                       <span>1231312awdawdadwd3123</span>
                     </div>
                     <div class="td2">
                        规格：一盒
                     </div>
                     <div class="td3">
                        ￥119.00
                     </div>
                     <div class="td4">
                         1
                     </div>
                     <div class="td5 red">
                         ￥119.00
                     </div>
                   </li>
                 </ul>
                  <div class="bzbox">
                     <label>备注</label><textarea></textarea>
                     <div class="favourable">
                       <label>店铺优惠：</label>
                       -<span>￥ 999.00</span>
                     </div>
                     <div class="postage">
                        <label>邮费:</label>
                        <span class="red big">免邮费</span>
                     </div>
                      <div class="tot">
                        <label>合计:</label>
                        <span class="red big">99:00</span>
                     </div>
                  </div>
               </li>
               <li>
                  <div class="soreName">
                     <div>店铺：<span>丽子自营</span></div>
                 </div>
                 <ul class="itemBox">
                   <li class="clear">
                     <div class="td1">
                       <img src="http://img.lizi.com/lizi/store/554b07acf31ef04978652554/1797c947a4227.jpg!wh70">
                       <span>12313123123</span>
                     </div>
                     <div class="td2">
                        规格：一盒
                     </div>
                     <div class="td3">
                        ￥119.00
                     </div>
                     <div class="td4">
                         1
                     </div>
                     <div class="td5 red">
                         ￥119.00
                     </div>
                   </li>
                   <li class="clear">
                     <div class="td1">
                       <img src="http://img.lizi.com/lizi/store/554b07acf31ef04978652554/1797c947a4227.jpg!wh70">
                       <span>1231312awdawdadwd3123</span>
                     </div>
                     <div class="td2">
                        规格：一盒
                     </div>
                     <div class="td3">
                        ￥119.00
                     </div>
                     <div class="td4">
                         1
                     </div>
                     <div class="td5 red">
                         ￥119.00
                     </div>
                   </li>
                 </ul>
                  <div class="bzbox">
                     <label>备注</label><textarea></textarea>
                     <div class="favourable">
                       <label>店铺优惠：</label>
                       -<span>￥ 999.00</span>
                     </div>
                     <div class="postage">
                        <label>邮费:</label>
                        <span class="red big">免邮费</span>
                     </div>
                      <div class="tot">
                        <label>合计:</label>
                        <span class="red big">99:00</span>
                     </div>
                  </div>
               </li>
            </ul>
         </div>
         <div class="footbox clear">
            <div class="totbox">
               共有
                 <span class="big red">2</span>
               件商品，
               总计：
                <span class="red biger">
                   ￥418.00000000
                </span>
            </div>
            <span class="sbm">提交订单</span>
         </div>
  </div>
</body>
<script src="../script/jquery-1.8.3.min.js"></script>
<script src="../script/jquery.lazyload.js"></script>
</html>