<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>找回密码</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="" rel="stylesheet">
<link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="../content/css/reset.css"/>
<link rel="stylesheet" href="../content/css/main.css"/>
</head>
</head>
<body>
  <div class="cart_head" style="border-bottom:1px solid #f5cf85; margin:0;">
  	 <div class="wrap">
  	  	 <div class="imgbox">
  	   	   <img src="../content/img/logo_vp.jpg">
  	     </div>  	
  	     <span class="title">
  	     	登录
  	     </span>    
  	 </div>
  </div>
  <div class="loginWrap" id="find">
  	 <div class="wrap clear" >
  	 	<div class="fl">
  	 		<img src="https://s01.lizi.com/images/pc/login-box-bg.jpg">
  	 	</div>
  	 	<div class="fr">
  	 		<div id="login_login">
  	 			<div class="white_black">
		          <div class="body">
			            <div class="title">
			               <h2>找 回 密 码</h2>
			            </div>
			            <div class="stepBox step1">
			            	<div class="gray_bg"></div>
                    <div class="yellow_bg"></div>
                    <div class="num">
                        <em class="num1">1</em><em class="num2">2</em><em class="num3">3</em>
                    </div>
                    <p class="step_p">
                       <span class="text1">输入账号信息</span>
                       <span class="text2">验证身份信息</span>
                       <span class="text3">重新设置密码</span>
                    </p>
			            </div>
                  <div class="stepboby1" style="display: none;">
                     <ul>
                       <li>
                           <input type="text" name="" placeholder="手机号 / 邮箱">
                        </li>
                         <li class="code clear">
                            <input type="text" name="" placeholder="" class="fl">
                            <a href="" class="fl bt">图片</a>
                            <a href=""  class="fl change">换一张</a>
                        </li>
                      </ul>
                        <input class="submit" value="下 一 步" type="submit">
                  </div>
                   <div class="stepboby2">
                     <div class="tel">手机号：13100688807</div>
                     <ul>
                         <li class="code clear">
                            <input type="text" name="" placeholder="验证码" class="fl">
                            <a href="" class="fl bt">再次发送验证码</a>
                        </li>
                      </ul>
                        <div class="point">短信已发送，请注意查收</div>
                        <input class="submit" value="下 一 步" type="submit">
                  </div>
		          </div>
           </div>
  	 		</div>
  	 	</div>
     </div>
  </div>
  








 <script src="../script/jquery-1.8.3.min.js"></script>
 <script src="../script/jquery.lazyload.js"></script>
 <script src="../script/extend.js"></script>
</body>
<script type="text/javascript">
$(function(){
   
})
</script>
</html>