<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>首页</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="../content/css/reset.css"/>
<link rel="stylesheet" href="../content/css/main.css"/>
<script type="text/javascript" ></script>
</head>
<body>
    <div class="P-head">
    	 <div class="wrap clear">
    	 	  <ul class="fr">
    	 	  	<li class="login_a_li">
                   <a href="" class="login_a">登录</a><a href="">免费注册</a>
                </li>
    	 	  	<li><a href="">关注我们<i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
    	 	  	<li><a href="">帮助中心</a></li>
    	 	  	<li><a href=""><i class="fa fa-heart" aria-hidden="true"></i>收藏例子</a></li>
    	 	  </ul>
    	 </div>
    </div>
    <div class="search_top">
    	<div class="wrap">
    		 <img src="../content/img/logo_vp.jpg">
	    	<div class="searchwarp">
			    		 <div class="search-box clear">
			    		 	  <input type="text" name="" placeholder="请输入商品名称">
			    		 	  <div class="bt">
			    		 	  <i class="fa fa-search" aria-hidden="true"></i>
			    		 	  去发现
			    		     </div>
			             </div>
	    	</div>
	    	<div class="hotWords">
	    		<span>热搜榜</span>:
	    		<span class="red">悦诗风吟</span>
	    		<span>兰芝</span>
	    		<span class="red">面膜</span>
	    		<span>化妆水</span>
	    		<span class="red">唇膏/口红</span>
	    	    <span>bb霜</span>
	    	</div>
	    	<span class="cartNum">88</span>
	    	<div class="cartBtn">
			         <i class="fa fa-shopping-cart" aria-hidden="true"></i>
			    		购物车 >
			</div>	 
        </div>
    </div>
    <div class="catalog-nav">
    	<div class="wrap">
    		<ul class="nav clear">
    			<li class="classfiyli"><i class="fa fa-th"></i>全部商品分类
                <ul class="classbox clear">
                	<li>
                       <h4>护肤</h4>
                       <ul class="classChirdbox clear">
                       	   <li><a href="list.html">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       </ul>
                	</li>
                	<li>
                       <h4>护肤</h4>
                       <ul class="classChirdbox clear">
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       </ul>
                	</li>
                	<li>
                       <h4>护肤</h4>
                       <ul class="classChirdbox clear">
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       </ul>
                	</li>
                	<li>
                       <h4>护肤</h4>
                       <ul class="classChirdbox clear">
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       </ul>
                	</li>
                	<li>
                       <h4>护肤</h4>
                       <ul class="classChirdbox clear">
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       </ul>
                	</li>
                	<li>
                       <h4>护肤</h4>
                       <ul class="classChirdbox clear">
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       </ul>
                	</li>
                	<li>
                       <h4>护肤</h4>
                       <ul class="classChirdbox clear">
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       </ul>
                	</li>
                </ul>
    			</li>
    			<li><a href="">60秒闪购</a></li>
    			<li><a href="">100%正品</a></li>
    			<li><a href="">手机丽子</a></li>
    		</ul>
    	</div>
    </div>
    <div class="index_banner">
    	<ul class="banner_ul">
		    <li><a href="JavaScript:void(0)" class="banner1"></a></li>
		    <li><a href="JavaScript:void(0)" class="banner2"></a></li>
        </ul>
	    <div class="banner_btn">
		        <span class="prev"><i class="fa fa-chevron-left" ></i></span>
		        <span class="next"><i class="fa fa-chevron-right"></i></span>
	    </div>
	    <ul class="banner_num">
	    </ul>
    </div>
    <div class="index_active">
        <div class="wrap">
	           <h1>热门活动 <span class="fuTilte">只要您不满意就无条件退货</span></h1>
	           <ul class="activeItemWrap clear">
	        		<li></li>
	        		<li></li>
	          </ul>
        </div>
    </div>
     <div class="index_recommend">
        <div class="wrap">
	           <h1>热门推荐<span class="fuTilte">只要您不满意就无条件退货</span></h1>
	           <ul class="ItemWrap clear">
	        		<li>
	        			<a href="">
	                        <div class="imgbox">
	        		             <img data-original="http://img.lizi.com/lizi/user/559b9ed1e4b048b6023c18c7/d19a764d0b5.jpg" class="lazy">
	                        </div>
	        				<p class="name">韩国AHC B5透明质酸玻尿酸爽肤水100ml 补水镇</p>
	        				<div class="pricbox clear">
	        					<span class="red fl">¥ 990.00</span>
	        					<span class="fr">已售:1234</span>
	        				</div>
	        			</a>
	        		</li>
	        		<li>
	        			<a href="">
	                        <div class="imgbox">
	        		             <img data-original="http://img.lizi.com/lizi/user/559b9ed1e4b048b6023c18c7/d19a764d0b5.jpg" class="lazy">
	                        </div>
	        				<p class="name">韩国AHC B5透明质酸玻尿酸爽肤水100ml 补水镇</p>
	        				<div class="pricbox clear">
	        					<span class="red fl">¥ 990.00</span>
	        					<span class="fr">已售:1234</span>
	        				</div>
	        			</a>
	        		</li>
	        		<li>
	        			<a href="">
	                        <div class="imgbox">
	        		             <img data-original="http://img.lizi.com/lizi/user/559b9ed1e4b048b6023c18c7/d19a764d0b5.jpg" class="lazy">
	                        </div>
	        				<p class="name">韩国AHC B5透明质酸玻尿酸爽肤水100ml 补水镇</p>
	        				<div class="pricbox clear">
	        					<span class="red fl">¥ 990.00</span>
	        					<span class="fr">已售:1234</span>
	        				</div>
	        			</a>
	        		</li>
	        		<li>
	        			<a href="">
	                        <div class="imgbox">
	        		             <img data-original="http://img.lizi.com/lizi/user/559b9ed1e4b048b6023c18c7/d19a764d0b5.jpg" class="lazy">
	                        </div>
	        				<p class="name">韩国AHC B5透明质酸玻尿酸爽肤水100ml 补水镇</p>
	        				<div class="pricbox clear">
	        					<span class="red fl">¥ 990.00</span>
	        					<span class="fr">已售:1234</span>
	        				</div>
	        			</a>
	        		</li>
	        		<li>
	        			<a href="">
	                        <div class="imgbox">
	        		             <img data-original="http://img.lizi.com/lizi/user/559b9ed1e4b048b6023c18c7/d19a764d0b5.jpg" class="lazy">
	                        </div>
	        				<p class="name">韩国AHC B5透明质酸玻尿酸爽肤水100ml 补水镇</p>
	        				<div class="pricbox clear">
	        					<span class="red fl">¥ 990.00</span>
	        					<span class="fr">已售:1234</span>
	        				</div>
	        			</a>
	        		</li>
	        		<li>
	        			<a href="">
	                        <div class="imgbox">
	        		             <img data-original="http://img.lizi.com/lizi/user/559b9ed1e4b048b6023c18c7/d19a764d0b5.jpg" class="lazy">
	                        </div>
	        				<p class="name">韩国AHC B5透明质酸玻尿酸爽肤水100ml 补水镇</p>
	        				<div class="pricbox clear">
	        					<span class="red fl">¥ 990.00</span>
	        					<span class="fr">已售:1234</span>
	        				</div>
	        			</a>
	        		</li>
	        		<li>
	        			<a href="">
	                        <div class="imgbox">
	        		            <img data-original="http://img.lizi.com/lizi/user/559b9ed1e4b048b6023c18c7/d19a764d0b5.jpg" class="lazy">
	                        </div>
	        				<p class="name">韩国AHC B5透明质酸玻尿酸爽肤水100ml 补水镇</p>
	        				<div class="pricbox clear">
	        					<span class="red fl">¥ 990.00</span>
	        					<span class="fr">已售:1234</span>
	        				</div>
	        			</a>
	        		</li>
	        		<li>
	        			<a href="">
	                        <div class="imgbox">
	        		             <img data-original="http://img.lizi.com/lizi/user/559b9ed1e4b048b6023c18c7/d19a764d0b5.jpg" class="lazy">
	                        </div>
	        				<p class="name">韩国AHC B5透明质酸玻尿酸爽肤水100ml 补水镇</p>
	        				<div class="pricbox clear">
	        					<span class="red fl">¥ 990.00</span>
	        					<span class="fr">已售:1234</span>
	        				</div>
	        			</a>
	        		</li>
	        		<li>
	        			<a href="">
	                        <div class="imgbox">
	        		             <img data-original="http://img.lizi.com/lizi/user/559b9ed1e4b048b6023c18c7/d19a764d0b5.jpg" class="lazy">
	                        </div>
	        				<p class="name">韩国AHC B5透明质酸玻尿酸爽肤水100ml 补水镇</p>
	        				<div class="pricbox clear">
	        					<span class="red fl">¥ 990.00</span>
	        					<span class="fr">已售:1234</span>
	        				</div>
	        			</a>
	        		</li>
	        		<li>
	        			<a href="">
	                        <div class="imgbox">
	        		             <img data-original="http://img.lizi.com/lizi/user/559b9ed1e4b048b6023c18c7/d19a764d0b5.jpg" class="lazy">
	                        </div>
	        				<p class="name">韩国AHC B5透明质酸玻尿酸爽肤水100ml 补水镇</p>
	        				<div class="pricbox clear">
	        					<span class="red fl">¥ 990.00</span>
	        					<span class="fr">已售:1234</span>
	        				</div>
	        			</a>
	        		</li>
	        		<li>
	        			<a href="">
	                        <div class="imgbox">
	        		             <img data-original="http://img.lizi.com/lizi/user/559b9ed1e4b048b6023c18c7/d19a764d0b5.jpg" class="lazy">
	                        </div>
	        				<p class="name">韩国AHC B5透明质酸玻尿酸爽肤水100ml 补水镇</p>
	        				<div class="pricbox clear">
	        					<span class="red fl">¥ 990.00</span>
	        					<span class="fr">已售:1234</span>
	        				</div>
	        			</a>
	        		</li>
	        		<li>
	        			<a href="">
	                        <div class="imgbox">
	        		             <img data-original="http://img.lizi.com/lizi/user/559b9ed1e4b048b6023c18c7/d19a764d0b5.jpg" class="lazy">
	                        </div>
	        				<p class="name">韩国AHC B5透明质酸玻尿酸爽肤水100ml 补水镇</p>
	        				<div class="pricbox clear">
	        					<span class="red fl">¥ 990.00</span>
	        					<span class="fr">已售:1234</span>
	        				</div>
	        			</a>
	        		</li>
	        		<li>
	        			<a href="">
	                        <div class="imgbox">
	        		             <img data-original="http://img.lizi.com/lizi/user/559b9ed1e4b048b6023c18c7/d19a764d0b5.jpg" class="lazy">
	                        </div>
	        				<p class="name">韩国AHC B5透明质酸玻尿酸爽肤水100ml 补水镇</p>
	        				<div class="pricbox clear">
	        					<span class="red fl">¥ 990.00</span>
	        					<span class="fr">已售:1234</span>
	        				</div>
	        			</a>
	        		</li>
	        		<li>
	        			<a href="">
	                        <div class="imgbox">
	        		             <img data-original="http://img.lizi.com/lizi/user/559b9ed1e4b048b6023c18c7/d19a764d0b5.jpg" class="lazy">
	                        </div>
	        				<p class="name">韩国AHC B5透明质酸玻尿酸爽肤水100ml 补水镇</p>
	        				<div class="pricbox clear">
	        					<span class="red fl">¥ 990.00</span>
	        					<span class="fr">已售:1234</span>
	        				</div>
	        			</a>
	        		</li>
	        		<li>
	        			<a href="">
	                        <div class="imgbox">
	        		             <img data-original="http://img.lizi.com/lizi/user/559b9ed1e4b048b6023c18c7/d19a764d0b5.jpg" class="lazy">
	                        </div>
	        				<p class="name">韩国AHC B5透明质酸玻尿酸爽肤水100ml 补水镇</p>
	        				<div class="pricbox clear">
	        					<span class="red fl">¥ 990.00</span>
	        					<span class="fr">已售:1234</span>
	        				</div>
	        			</a>
	        		</li>
	        		<li>
	        			<a href="">
	                        <div class="imgbox">
	        		             <img data-original="http://img.lizi.com/lizi/user/559b9ed1e4b048b6023c18c7/d19a764d0b5.jpg" class="lazy">
	                        </div>
	        				<p class="name">韩国AHC B5透明质酸玻尿酸爽肤水100ml 补水镇</p>
	        				<div class="pricbox clear">
	        					<span class="red fl">¥ 990.00</span>
	        					<span class="fr">已售:1234</span>
	        				</div>
	        			</a>
	        		</li>
	        		<li>
	        			<a href="">
	                        <div class="imgbox">
	        		             <img data-original="http://img.lizi.com/lizi/user/559b9ed1e4b048b6023c18c7/d19a764d0b5.jpg" class="lazy">
	                        </div>
	        				<p class="name">韩国AHC B5透明质酸玻尿酸爽肤水100ml 补水镇</p>
	        				<div class="pricbox clear">
	        					<span class="red fl">¥ 990.00</span>
	        					<span class="fr">已售:1234</span>
	        				</div>
	        			</a>
	        		</li>
	        		<li>
	        			<a href="">
	                        <div class="imgbox">
	        		             <img data-original="http://img.lizi.com/lizi/user/559b9ed1e4b048b6023c18c7/d19a764d0b5.jpg" class="lazy">
	                        </div>
	        				<p class="name">韩国AHC B5透明质酸玻尿酸爽肤水100ml 补水镇</p>
	        				<div class="pricbox clear">
	        					<span class="red fl">¥ 990.00</span>
	        					<span class="fr">已售:1234</span>
	        				</div>
	        			</a>
	        		</li>
	        		<li>
	        			<a href="">
	                        <div class="imgbox">
	        		             <img data-original="http://img.lizi.com/lizi/user/559b9ed1e4b048b6023c18c7/d19a764d0b5.jpg" class="lazy">
	                        </div>
	        				<p class="name">韩国AHC B5透明质酸玻尿酸爽肤水100ml 补水镇</p>
	        				<div class="pricbox clear">
	        					<span class="red fl">¥ 990.00</span>
	        					<span class="fr">已售:1234</span>
	        				</div>
	        			</a>
	        		</li>
	          </ul>
        </div>
    </div>




<!-- 登录弹窗     -->
    <div class="p-dialog" id="dialog_login">
      <div class="white_black">
          <div class="head">
             请登录
             <button class="closeDialog">×</button>
          </div>
          <div class="body">
            <div class="title">
               <h2>登 录</h2>
               <div class="bt">没有账号? <a href="#">点击注册</a></div>
            </div>
            <form>
              <ul>
                <li>
                   <i class="fa fa-user" aria-hidden="true"></i>
                   <input type="text" name="" placeholder="用户名 / 邮箱 / 手机号">
                </li>
                <li>
                   <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                   <input type="password" name="" placeholder="密码">
                </li>
              </ul>
              <div class="eer red">你输入的密码错误@！</div>
              <div class="clear foragerbt">
                 <a href="" class="fr">忘记密码？</a>
              </div>
              <input class="submit" value="登 录" type="submit">
            </form>
            <div class="other_login">
              <h4>第三方账号登录</h4>
              <i class="fa fa-qq qq" aria-hidden="true"></i>
              <i class="fa fa-weixin wx" aria-hidden="true"></i>
            </div>
          </div>
      </div>
      <div class="black_overlay"></div>
    </div>
</body>
<script src="../script/jquery-1.8.3.min.js"></script>
<script src="../script/extend.js"></script>
<script src="../script/jquery.lazyload.js"></script>
<script type="text/javascript">
	$(function(){
      // 轮播
      var screenwidth = $(window).width();
       $(".index_banner").carrousel(screenwidth,5000);
       
       // 显出分类
      $(".classfiyli").mouseover(function(){
         $(".classbox").show();
      }).mouseout(function(){
          $(".classbox").hide();
      }) 

     
      // 弹窗
      $(".cartBtn").click(function(){
			 $("#dialog_login").show();
		})
		$(".closeDialog").click(function(){
			 $("#dialog_login").hide();
		})
   })
</script>
</html>
</html>