<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
 <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<title>list</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="" rel="stylesheet">
<link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="../content/css/reset.css"/>
<link rel="stylesheet" href="../content/css/main.css"/>
</head>
<body>
    <div class="search_top">
      <div class="wrap">
         <img src="../content/img/logo_vp.jpg">
         <div class="searchwarp">
               <div class="search-box clear">
                  <input type="text" name="" placeholder="请输入商品名称">
                  <div class="bt">
                  <i class="fa fa-search" aria-hidden="true"></i>
                  去发现
                   </div>
                   </div>
         </div>
         <div class="hotWords">
            <span>热搜榜</span>:
            <span class="red">悦诗风吟</span>
            <span>兰芝</span>
            <span class="red">面膜</span>
            <span>化妆水</span>
            <span class="red">唇膏/口红</span>
            <span>bb霜</span>
         </div>
         <span class="cartNum">88</span>
         <div class="cartBtn">
               <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              购物车 >
        </div>   
      </div>
    </div>
    <div class="catalog-nav">
    	<div class="wrap">
    		<ul class="nav clear">
    			<li class="classfiyli"><i class="fa fa-th"></i>全部商品分类
                <ul class="classbox clear">
                	<li>
                       <h4>护肤</h4>
                       <ul class="classChirdbox clear">
                       	   <li><a href="list.html">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       </ul>
                	</li>
                	<li>
                       <h4>护肤</h4>
                       <ul class="classChirdbox clear">
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       </ul>
                	</li>
                	<li>
                       <h4>护肤</h4>
                       <ul class="classChirdbox clear">
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       </ul>
                	</li>
                	<li>
                       <h4>护肤</h4>
                       <ul class="classChirdbox clear">
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       </ul>
                	</li>
                	<li>
                       <h4>护肤</h4>
                       <ul class="classChirdbox clear">
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       </ul>
                	</li>
                	<li>
                       <h4>护肤</h4>
                       <ul class="classChirdbox clear">
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       </ul>
                	</li>
                	<li>
                       <h4>护肤</h4>
                       <ul class="classChirdbox clear">
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       	   <li><a href="">洗面</a></li>
                       </ul>
                	</li>
                </ul>
    			</li>
    			<li><a href="">60秒闪购</a></li>
    			<li><a href="">100%正品</a></li>
    			<li><a href="">手机丽子</a></li>
    		</ul>
    	</div>
    </div>
    <div class="listWarp">
    	<div class="wrap">
    		<div class="title">
    			 <span>分类</span>
            <span>></span>
            <span>关键词</span>
    		</div>
        <div class="classbt">
            <span class="active">销量</span>
            <span>|</span>
            <span>人气</span>
            <span>|</span>
            <span>价格</span>
            <span>|</span>
            <span>上新</span>
        </div>
        <ul class="loftWrap clear">
            <li>
                 <a href="detail.html">
                    <div class="imgbox">
                        <img data-original="http://img.lizi.com/lizi/user/559b9ed1e4b048b6023c18c7/d19a764d0b5.jpg" class="lazy">
                    </div>
                  <p class="name">韩国AHC B5透明质酸玻尿酸爽肤水100ml 补水镇</p>
                  <div class="pricbox clear">
                    <span class="red fl">¥ 990.00</span>
                    <span class="fr">已售:1234</span>
                  </div>
                </a>
            </li>
            <li>
                 <a href="">
                    <div class="imgbox">
                        <img data-original="http://img.lizi.com/lizi/user/559b9ed1e4b048b6023c18c7/d19a764d0b5.jpg" class="lazy">
                    </div>
                  <p class="name">韩国AHC B5透明质酸玻尿酸爽肤水100ml 补水镇</p>
                  <div class="pricbox clear">
                    <span class="red fl">¥ 990.00</span>
                    <span class="fr">已售:1234</span>
                  </div>
                </a>
            </li>
             <li>
                 <a href="">
                    <div class="imgbox">
                        <img data-original="http://img.lizi.com/lizi/user/559b9ed1e4b048b6023c18c7/d19a764d0b5.jpg" class="lazy">
                    </div>
                  <p class="name">韩国AHC B5透明质酸玻尿酸爽肤水100ml 补水镇</p>
                  <div class="pricbox clear">
                    <span class="red fl">¥ 990.00</span>
                    <span class="fr">已售:1234</span>
                  </div>
                </a>
            </li>
             <li>
                 <a href="">
                    <div class="imgbox">
                        <img data-original="http://img.lizi.com/lizi/user/559b9ed1e4b048b6023c18c7/d19a764d0b5.jpg" class="lazy">
                    </div>
                  <p class="name">韩国AHC B5透明质酸玻尿酸爽肤水100ml 补水镇</p>
                  <div class="pricbox clear">
                    <span class="red fl">¥ 990.00</span>
                    <span class="fr">已售:1234</span>
                  </div>
                </a>
            </li>
             <li>
                 <a href="">
                    <div class="imgbox">
                        <img data-original="http://img.lizi.com/lizi/user/559b9ed1e4b048b6023c18c7/d19a764d0b5.jpg" class="lazy">
                    </div>
                  <p class="name">韩国AHC B5透明质酸玻尿酸爽肤水100ml 补水镇</p>
                  <div class="pricbox clear">
                    <span class="red fl">¥ 990.00</span>
                    <span class="fr">已售:1234</span>
                  </div>
                </a>
            </li>
             <li>
                 <a href="">
                    <div class="imgbox">
                        <img data-original="http://img.lizi.com/lizi/user/559b9ed1e4b048b6023c18c7/d19a764d0b5.jpg" class="lazy">
                    </div>
                  <p class="name">韩国AHC B5透明质酸玻尿酸爽肤水100ml 补水镇</p>
                  <div class="pricbox clear">
                    <span class="red fl">¥ 990.00</span>
                    <span class="fr">已售:1234</span>
                  </div>
                </a>
            </li>
              <li>
                 <a href="">
                    <div class="imgbox">
                        <img data-original="http://img.lizi.com/lizi/user/559b9ed1e4b048b6023c18c7/d19a764d0b5.jpg" class="lazy">
                    </div>
                  <p class="name">韩国AHC B5透明质酸玻尿酸爽肤水100ml 补水镇</p>
                  <div class="pricbox clear">
                    <span class="red fl">¥ 990.00</span>
                    <span class="fr">已售:1234</span>
                  </div>
                </a>
            </li>
              <li>
                 <a href="">
                    <div class="imgbox">
                        <img data-original="http://img.lizi.com/lizi/user/559b9ed1e4b048b6023c18c7/d19a764d0b5.jpg" class="lazy">
                    </div>
                  <p class="name">韩国AHC B5透明质酸玻尿酸爽肤水100ml 补水镇</p>
                  <div class="pricbox clear">
                    <span class="red fl">¥ 990.00</span>
                    <span class="fr">已售:1234</span>
                  </div>
                </a>
            </li>
        </ul>
        <div class="pageWrap clear">
            <ul class="fr">
               <li>上一页</li>
               <li>1</li>
               <li class="active">2</li>
               <li>3</li>
               <li>4</li>
               <li>下一页</li>
            </ul>
        </div>
    	</div>
    </div>

</body>
<script src="../script/jquery-1.8.3.min.js"></script>
<script src="../script/jquery.lazyload.js"></script>
<script src="../script/extend.js"></script>
<script type="text/javascript">
  $(function(){
        // 显出分类
      $(".classfiyli").mouseover(function(){
         $(".classbox").show();
      }).mouseout(function(){
          $(".classbox").hide();
      }) 
  })
</script>
</html>