<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>我的订单</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="../content/css/reset.css"/>
<link rel="stylesheet" href="../content/css/main.css"/>
<script type="text/javascript" ></script>
</head>
<body>
    <div class="index_top">
      <div class="wrap">
         <img src="../content/img/logo_vp.jpg">
        <div class="index_searchwarp">
               <div class="search-box clear">
                  <input type="text" name="" placeholder="请输入商品名称">
                  <div class="bt">
                  <i class="fa fa-search" aria-hidden="true"></i>
                  去发现
                   </div>
                   </div>
        </div>
        <div class="hotWords">
          <span>热搜榜</span>:
          <span class="red">悦诗风吟</span>
          <span>兰芝</span>
          <span class="red">面膜</span>
          <span>化妆水</span>
          <span class="red">唇膏/口红</span>
            <span>bb霜</span>
        </div>
        <div class="cartBtn">
               <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              购物车 >
      </div>   
        </div>
    </div>
    <div class="index_nav" style="margin-bottom:10px;">
      <div class="wrap">
        <ul class="nav clear">
          <li class="classfiyli"><i class="fa fa-th"></i>全部商品分类
          </li>
          <li><a href="">60秒闪购</a></li>
          <li><a href="">100%正品</a></li>
          <li><a href="">手机丽子</a></li>
        </ul>
      </div>
    </div>
    <div class="wrap clears">
       <div class="fl listbox">
         <h2>个人中心</h2>
         <div class="item">
            <h3>
              <a href="">账户管理</a>
            </h3>
            <ul>
              <li >
                <a href="" class="active">我的订单</a>
              </li>
              <li >
                 <a href="">我的丽子币</a>
              </li>
              <li>
                 <a href="">我的优惠券</a>
              </li>
              <li>
                 <a href="">账户余额</a>
              </li>
              <li>
                  <a href="">收货地址管理</a>
              </li>
            </ul>
         </div>
         <div class="item">
           <h3>
              <a href="">退款管理</a>
           </h3>
         </div>
         <div class="item">
             <h3>
              <a href="">个人信息</a>
             </h3>
         </div>
         <div class="item">
             <h3>
              <a href="">账户安全</a>
             </h3>
         </div>
       </div>
       <div class="fl sectionbox">
         <div class="head clear">
             <a href="" class="active">全部订单<span>(0)</span></a>
             <a href="">待付款<span>(0)</span></a>
              <a href="">待发货<span>(0)</span></a>
              <a href="">待收货<span>(0)</span></a>
              <a href="">待评价<span>(0)</span></a>
              <a href="">退货退款</a>
         </div>
         <div class="body">
            <div class="titlebox clear">
                <div class="td1">商品详情</div>
                <div class="td2">单价</div>
                <div class="td3">数量</div>
                <div class="td4">商品操作</div>
                <div class="td5">实付款</div>
                <div class="td6">交易状态</div>
                <div class="td7">交易操作</div>
            </div>
            <div class="checkTilte">
               <input type="checkbox" class="hide" name="item">
               <img src="../content/img/check.jpg" class="icon check" onclick="checkAll(this)">
               <img src="../content/img/checked.png" class="icon checked hide" onclick="nocheckAll()">
               全选
               <span class="bt">合并付款</span>
            </div>
            <ul>
              <li class="itembox">
                 <div class="stromeTitle">
                     <input type="checkbox" class="hide" name="item">
                     <img src="../content/img/check.jpg" class="icon check" onclick="checkItem(this)">
                     <img src="../content/img/checked.png" class="icon checked hide" onclick="NcheckItem(this)">
                     2018-01-12订单号: 121417351441568602
                     <div class="name">店铺：Muscularphysique运动店</div>
                 </div>
                 <ul>
                   <li class="clear item">
                      <div class="td1" >
                       <img src="http://img.lizi.com/lizi/store/554b07acf31ef04978652554/1797c947a4227.jpg!wh70">
                       <span style="padding-top:15px;">12313123123</span>
                      </div>
                      <div class="td2">
                            ￥59.00
                      </div>
                      <div class="td3">
                          1
                      </div>
                       <div class="td4">
                            投诉卖家
                        </div>
                      <div class="td5">
                             ￥59.00
                      </div>
                      <div class="td6 red">
                             等待买家付款
                      </div>
                      <div class="td7">
                          <span>
                              <a href="">立即付款</a>
                          </span>
                      </div>
                   </li>
                 </ul> 
              </li>
               <li class="itembox">
                 <div class="stromeTitle">
                     <input type="checkbox" class="hide" name="item">
                     <img src="../content/img/check.jpg" class="icon check" onclick="checkItem(this)">
                     <img src="../content/img/checked.png" class="icon checked hide" onclick="NcheckItem(this)">
                     2018-01-12订单号: 121417351441568602
                     <div class="name">店铺：Muscularphysique运动店</div>
                 </div>
                 <ul>
                   <li class="clear item">
                      <div class="td1">
                       <img src="http://img.lizi.com/lizi/store/554b07acf31ef04978652554/1797c947a4227.jpg!wh70">
                       <span style="padding-top:15px;">12313123123</span>
                      </div>
                      <div class="td2">
                            ￥59.00
                      </div>
                      <div class="td3">
                          1
                      </div>
                       <div class="td4">
                            投诉卖家
                        </div>
                      <div class="td5">
                             ￥59.00
                      </div>
                      <div class="td6 red">
                             等待买家付款
                      </div>
                      <div class="td7">
                          <span>
                             <a href="">立即付款</a>
                          </span>
                      </div>
                   </li>
                 </ul> 
              </li>
            </ul>
            <div class="checkTilte">
               <input type="checkbox" class="hide" name="item">
               <img src="../content/img/check.jpg" class="icon check" onclick="checkAll(this)">
               <img src="../content/img/checked.png" class="icon checked hide" onclick="nocheckAll()">
               全选
               <span class="bt">合并付款</span>
            </div>
         </div>
          <div class="pageWrap clear" style="padding-right:20px;">
            <ul class="fr">
               <li>上一页</li>
               <li>1</li>
               <li class="active">2</li>
               <li>3</li>
               <li>4</li>
               <li>下一页</li>
            </ul>
        </div>
       </div>
    </div>
</body>
<script src="../script/jquery-1.8.3.min.js"></script>
<script src="../script/jquery.lazyload.js"></script>
<script src="../script/index.js"></script>
<script type="text/javascript">

   function check (jsobj) {
        $(jsobj).hide();
      $(jsobj).siblings('img').show();
      $(jsobj).siblings('input').get(0).checked = true;
      }


   function NoCheck (jsobj) {
        $(jsobj).hide();
      $(jsobj).siblings('img').show();
      $(jsobj).siblings('input').get(0).checked = false;
      }


  function checkItem (jsobj){
      check (jsobj);
        var length =  $("li.itembox").find("input:checked").length;
        var liLength =$("li.itembox").length;
        if(length == liLength){
          $(".checkTilte").find("img.check").each(function(index,ele){
               check(ele);
        })
        }
     }


  function NcheckItem (jsobj){
          NoCheck (jsobj);
          $(".checkTilte").find("img.checked").each(function(index,ele){
              NoCheck (ele);
        });
      }
 
  function checkAll (jsobj) {
       $("img.check").each(function(index,ele){
          check(ele);
      })
  }
 
  function nocheckAll () {
     $("img.checked").each(function(index,ele){
          NoCheck (ele);
      })
  }

</script>
</html>
</html>