<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Examples</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="../../content/css/reset.css"/>
<link rel="stylesheet" href="../../content/css/main.css"/>
</head>
<body>
    <div class="P-head">
    	 <div class="wrap clear">
    	 	  <ul class="fr">
    	 	  	<li class="login_a_li">
                   <a href="" class="login_a">登录</a><a href="">免费注册</a>
                </li>
    	 	  	<li><a href="">关注我们<i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
    	 	  	<li><a href="">帮助中心</a></li>
    	 	  	<li><a href=""><i class="fa fa-heart" aria-hidden="true"></i>收藏例子</a></li>
    	 	  </ul>
    	 </div>
    </div>
</body>
</html>