@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-12-19 09:44:16
 * @version $Id$
 */
body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,th,td,select { margin:0; padding:0; }
em { font-style:normal;}
a { text-decoration:none;display:block;}
img { border:none; vertical-align:top; }
table { border-collapse:collapse; }
input,textarea { outline:none; }
textarea { resize:none; overflow:auto; }
body { font-size:12px; font-family:"微软雅黑",Microsoft YaHei,sans-serif;}
body{background-color: #fafafa;}
/* end reset */
ul,ol{list-style:none;}
h1            { font-size:20px;}
h2            { font-size:18px;}
h3            { font-size:16px;}
h4            { font-size:14px;}
h5            { font-size:12px;}
h6            { font-size:11px;}
h1,h2,h3,
h4,h5,h6       {color: #232323 }
/* public */
.clear { zoom:1; }
.clear:after { content:''; display:block; clear:both; }
.fl { float:left; }
.fr { float:right; }
.red { color:red; }
.P-head li {float: left}
html .hide{display:none;}
